.header {
    background: $light-pink;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
}

.header > h1 {
    display: flex;
    color: $maroon;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    float: none;
    position: absolute;
    top: 5vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.header > h1:hover {
    cursor: pointer;
}

.header > img:hover {
    cursor: pointer;
}

.header > img {
    top: 5vh;
    left: 90vw;
    //can't do right bc of scroll bar!
    position: absolute;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
}
