/* titles: font-family: 'Cormorant Garamond', serif; */
/* body: font-family: 'Nunito', sans-serif; */

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FDFBF8;
    height: 1000px;
}

.signup > h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 50px;
    margin-top: 40px;
    padding: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

