.product-show {
    margin-top: 60px;
    background-color: $light-pink;
}

.all-product-photos {
    position: relative;
    display: flex;
    flex-direction: column;
}

.selected-product-photo {
    height: 300px;
    width: 200px;
}

.dot {
    cursor: pointer;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.product-side-info {
    display: flex;
    justify-content: space-around;
}