.product-show {
    margin-top: 60px;
    background-color: $light-pink;
}

.product-first-component {
    display: flex;
    height: 700px;
}

.product-shade-name {
    display: flex;
    height: 30px;
    margin-left: 15%;
    margin-top: 7px;
    position: relative;

    h4 {
        font-family: $all-caps-links;
        font-size: 12px;
        position: absolute;
        bottom: 3px;
        left: 0;
    }
    
    h5 {
        position: absolute;
        bottom: 1px;
        left: 30px;
        font-family: $script;
        font-size: 22px;
    }
}

.product-side-info {
    width: 50%;
    
    h1 {
        margin-left: 15%;
        margin-top: 100px;
        font-family: $title;
        font-size: 40px;
    }
    
    
    h3 {
        width: 450px;
        margin-left: 15%;
        margin-top: 30px;
        font-family: $body;
        font-size: 15px;
        line-height: 20px;
        
    }
    
    img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 1px solid transparent;
        object-fit: cover; 
    }

    img:hover {
        cursor: pointer;
    }

    img.selected {
        border: 1px solid $maroon;
    }
    
    button {
        margin-left: 15%;
        width: 300px;
        height: 38px;
        letter-spacing: 4px;
        font-size: 12px;
        transition: all 0.6s ease;
        margin-top: 20px;
        background: $maroon;
        border: 1px solid transparent;
        font-family: $all-caps-links;
        color: white;
        padding: 10px;
        text-align: center;
    }

    button:hover {
        cursor: pointer;
        background-color: $light-pink;
        color: $maroon;
        border: 1px solid $maroon;
        transition: all 0.6s ease
    }
}

.product-swatches-all-images {
    display: flex;
    margin-left: 15%;
    margin-top: 10px;
}

.product-name-underline {
    margin-left: 15%;
    width: 200px;
    border-top: 1px solid black;
}

.product-show-img-and-captions > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.product-show-img-and-captions {
    position: relative;
    width: 50%;

    .all-product-photos {
        position: absolute;
        top: 15%;
        right: 8%;
        
        img {
            border: 1px solid white;
            height: 60px;
            width: 60px;
            margin: 5px 0px;
        }
    }
}

.selected-product-photo {
    height: 300px;
    width: 200px;
}

.all-product-photos {
    position: relative;
    display: flex;
    flex-direction: column;
    
    img {
        cursor: pointer;
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
    
    img.selected {
        border: 1px solid $maroon;
    }
}

.product-quote-component {
    background-color: $light-pink;
    height: 500px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1 {
        padding: 20px;
        font-family: $all-caps-links;
        font-size: 12px;
        color: $maroon;
        letter-spacing: 4px;
    }
   
}

.quote {
    display: flex;
    width: 720px;
    text-align: center;
    font-family: $title;
    color: black;
    font-size: 55px;
    line-height: 70px;
}

.product-second-component {
    background-color: $dark-pink;
}

.product-details {
    display: flex;
    margin-bottom: 50px;

    img {
        height: 380px; 
        width: 350px;
        margin-left: 10%;
        margin-top: -50px;
    }

    .details {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-top: 30px;

        h1 {
            font-family: $title;
            font-size: 55px;
        }

        p {
            margin: 40px;
            font-family: $body;
            font-size: 16px;
            width: 500px;
            line-height: 40px;
        }
    }

}

.product-ingredients-how-to {
    display: flex;
    justify-content: center;

    img {
        height: 470px;
        width: 470px;
        margin-bottom: -50px;
        margin-right: 40px;
        margin-left: 40px;
    }
    
    h1 {
        font-family: $title;
        font-size: 55px;
    }
    
    p {
        font-family: $body;
        line-height: 20px;
        width: 220px;
        margin-top: 20px;
        margin-left: 40px;
        margin-bottom: 10px;
    }  
    
    span {
        font-family: $all-caps-links;
        font-size: 10px;
        letter-spacing: 2px;
        text-decoration: underline;
        margin-left: 40px;
    }

    span:hover {
        cursor: pointer;
    }
}

.ingredients {
    margin-left: 60px;
    margin-top: 140px;
}

.how-to {
    margin-right: 60px;
    margin-top: 40px;
}

.modal {
    display: none;
}

.is-open {
    display: block;
}

.modal-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $light-pink;
    opacity: 0.9;
}

.modal-details {
    position: fixed; //absolute
    top: 10%;
    left: 25%;
    z-index: 5;
    background-color: $dark-pink;
    box-shadow: 0 0 0.625rem 0 rgba(192,187,180,0.5);
    display: inline-block;
    width: 600px;
    max-height: 80%;
    padding: 20px;
    overflow-y: auto;

    h5 {
        font-family: $title;
        font-size: 40px;
        margin: 40px;
    }

    h6 {
        font-family: $body;
        line-height: 30px;
        margin: 40px;
    } 
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 35px;
    color: $maroon;
    cursor: pointer;
}