.cart {
    padding: 60px 0px;
    background-color: $light-pink;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 3% 6%;

    h1 {
        font-family: $title;
        font-size: 50px;
    }
}

.continue-shopping {
    font-family: $all-caps-links;
    font-size: 13px;
    letter-spacing: 3px;
    padding-bottom: 2px;
    transition: all 0.6s ease;
}

.continue-shopping:hover {
    text-decoration: underline;
    transition: all 0.6s ease;
}

.arrow-right {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.items-and-summary {
    display: flex;
    justify-content: space-between;
    margin: 2% 6%;
    border: 1px solid blue;
}