.footer {
    display: flex;
    justify-content: space-between;
    background-color: $dark-pink;
    height: 200px;
}

.footer-name {   
    display: flex;
    justify-content: space-between;
    font-family: $title;
    color: black;
    font-size: 50px;
    padding-bottom: 5px;
}

.footer-about-me {
    display: flex;
    flex-direction: column;
    margin: 20px 100px;
}

.footer-link {
    font-size: 16px;
    font-family: $all-caps-links;
    letter-spacing: 4px;
    margin-top: 10px;
    padding: 10px 20px; 
    color: $maroon;
}

.footer-logo {
    // border: 1px solid black;
    margin: 20px 100px;
    font-family: $script;
    font-size: 50px;
    display: flex;
    align-items: center;
}