.footer {
    display: flex;
    justify-content: space-between;
    background-color: $dark-pink;
    height: 200px;
}

.footer-name {   
    display: flex;
    justify-content: space-between;
    font-family: $title;
    color: black;
    font-size: 40px;
}

.footer-about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 100px;
}

.footer-link {
    font-size: 12px;
    font-family: $all-caps-links;
    letter-spacing: 4px;
    padding-top: 20px; 
    color: $maroon;
    width: 90px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-logo {
    margin: 20px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    color: $maroon;

    h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 32px;
    }

    p {
        color: black;
        font-family: $body;
        font-size: 12px;
        letter-spacing: 2px;
        margin-top: 5px;
    }
}