.splash-first-component {
    background-color: $light-pink;
    margin-top: 60px;
    height: 800px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;

    img {
        height: 700px;
        object-fit: cover;
        margin-top: 20px;
        margin-right: 5%;
    }
}

.blot {
    margin-left: 5%;
    width: 370px;
    margin-top: 100px;
    color: $maroon;
    
    h1 {
        font-family: $title;
        font-size: 55px;
    }
    
    h2 {
        font-family: $script;
        font-size: 60px;
    }
    
    p {
        font-family: $body;
        font-size: 20px;
        line-height: 30px;
        margin-top: 30px;
    }

    button {
        height: 35px;
        margin-top: 40px;
        margin-bottom: 50px;
        background: $light-pink;
        font-family: $all-caps-links;
        letter-spacing: 5px;
        font-size: 10px;
        color: $maroon;
        border: 1px solid $maroon;
        padding: 10px;
        text-align: center;
        width: 200px;
        transition: all 0.6s ease;
    }

    button:hover {
        cursor: pointer;
        background-color: $maroon;
        color: white;
        border: 1px solid transparent;
        transition: all 0.6s ease
    }
}

.splash-second-component {
    background-color: $dark-pink;
    position: relative;

    h1 {
        font-family: $title;
        font-size: 55px;
        width: 200px;
        margin-left: 6%;
        position: absolute;
        top: -30px;
    }
}

.splash-links {
    position: relative;
    height: 1000px;
}

.splash-link {
    display: flex;
    flex-direction: column-reverse;
    width: 400px;
    
    h5 {
        font-family: $script;
        font-size: 55px;
        color: $maroon;
        margin-top: -15px;
        margin-left: 5%;
        z-index: 2;
    }
}

.splash-link:hover {
    transition: all 0.4s ease;
    opacity: 70%;
}

.splash-img {
    width: 400px;
    transition: all 0.4s ease;
    object-fit: cover;
}

.link-face {
    position: absolute;
    right: 8%;
    top: -100px;
}

.link-eye {
    position: absolute;
    right: 20%;
    bottom: -100px;
}

.link-lip {
    position: absolute;
    left: 10%;
    top: 130px;
}

.splash-third-component {
    background-color: $light-pink;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;

    img {
        height: 500px;
        width: 500px;
        object-fit: contain;
        border-radius: 50%;
        margin-right: 5%;
    }   
}

.rare {
    width: 400px;
    margin-left: 5%;

    h1 {
        font-family: $title;
        font-size: 50px;
        margin-bottom: 30px;
    }
    
    p {
        font-family: $body;
        font-size: 18px;
        line-height: 30px;
        margin-top: 10px;
    }

}
