.splash-first-component {
    margin-top: 60px;
    background-color: $dark-pink;
    padding-bottom: 60px;
    
    h1 {
        font-family: $title;
        font-size: 55px;
        padding: 40px;
    }
}

.splash-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-link {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-family: $googlescript;
    font-size: 70px;
    color: $maroon;
    margin: 0px 20px;
}

.splash-link:hover {
    transition: all 0.4s ease;
    opacity: 70%;
}

.splash-img-tall {
    height: 400px;
    width: 320px;
    margin-bottom: 10px;
    transition: all 0.4s ease;
}

.splash-img-wide {
    height: 320px;
    width: 400px;
    margin-bottom: 10px;
    transition: all 0.4s ease;
}

.splash-second-component {
    background-color: $light-pink;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1 {
        padding: 20px;
        font-family: $all-caps-links;
        font-size: 12px;
        color: $maroon;
        letter-spacing: 4px;
    }
   
}

.quote {
    display: flex;
    width: 720px;
    text-align: center;
    font-family: $title;
    color: black;
    font-size: 55px;
    line-height: 70px;
}
