.account-all {
    display: flex;
    flex-direction: column;
    background: $light-pink;
    min-height: 100vh;
}

.account-all > h1 {
    font-family: $title;
    font-size: 55px;
    margin-top: 10%;
    margin-left: 13%;
}

.account {
    display: flex;
    background: $light-pink;
}

.account-sidebar {
    border-right: 1px solid $dark-gray; 
    margin-left: 13%;
    margin-top: 2%;
    padding-right: 2%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.log-out-btn {
    background: $maroon;
    font-family: $body;
    font-size: 15px;
    color: white;
    border: 1px solid transparent;
    padding: 10px 15px;
    text-align: left;
    width: 270px;
    height: 40px;
    transition: all 0.6s ease;
}

.my-info-btn {
    background-color: $light-pink;
    font-family: $body;
    font-size: 15px;
    color: $maroon;
    border: 1px solid $maroon;
    padding: 10px 15px;
    text-align: left;
    width: 270px;
    height: 40px;
    transition: all 0.6s ease;
    margin-bottom: 6%;
}

.log-out-btn:hover {
    cursor: pointer;
    background-color: $light-pink;
    color: $maroon;
    border: 1px solid $maroon;
    transition: all 0.6s ease
}

.account-main {
    margin-top: 2%;
    margin-left: 5%;
}

.account-main > h2 {
    font-family: $title;
    font-size: 55px;
    margin-bottom: 12%;
}


.account-main > h3 {
    font-family: $body;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}