.account-all {
    display: flex;
    flex-direction: column;
    background: $light-pink;
    padding-bottom: 200px;
}

.account-all > h1 {
    font-family: $title;
    font-size: 55px;
    margin-left: 6%;
    margin-top: 150px;
}

.account {
    display: flex;
    background: $light-pink;
}

.account-sidebar {
    border-right: 1px solid $dark-gray; 
    margin-left: 8%;
    margin-top: 2%;
    padding-right: 2%;
    height: 70vh;
}

.account-sidebar > button {
    background: $maroon;
    font-family: $body;
    font-size: 15px;
    color: white;
    border: 1px solid transparent;
    padding: 10px 15px;
    text-align: left;
    width: 300px;
    height: 40px;
    transition: all 0.6s ease;
}

.account-sidebar > button:hover {
    cursor: pointer;
    background-color: $light-pink;
    color: $maroon;
    border: 1px solid $maroon;
    transition: all 0.6s ease
}

.account-main {
    margin-top: 2%;
    margin-left: 5%;
}

.account-main > h1 {
    font-family: $title;
    font-size: 55px;
    margin-top: 2%;
    padding-bottom: 10%;
}


.account-main > h3 {
    font-family: $body;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
}