.login {
    display: flex;
    justify-content: center;
    background: $light-pink;
    min-height: 100vh;
}

.login-side {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-right: 8%;
}

.login-side > h2 {
    font-family: $title;
    font-size: 55px;
    margin-bottom: 4%;
}

.signup-side {
    margin-top: 10%;
    margin-left: 8%;
}

.signup-side > h2 {
    font-family: $title;
    font-size: 55px;
    margin-bottom: 5%;
}

.signup-side > button {
    background: $maroon;
    font-family: $all-caps-links;
    letter-spacing: 5px;
    font-size: 10px;
    color: white;
    border: 1px solid transparent;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    width: 390px;
    height: 35px;
    transition: all 0.6s ease;
}

.signup-side > button:hover {
    cursor: pointer;
    background-color: $light-pink;
    color: $maroon;
    border: 1px solid $maroon;
    transition: all 0.6s ease
}

.vertical-line {
    border-left: 1px solid $light-gray;
    height: 50vh;
    margin-top: 11%;
}

