.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $light-pink;
    height: 900px;
}

.not-found > h2 {
    font-family: $body;
    font-size: 28px;
    margin-bottom: 30px;
    color: $light-gray;
    margin-top: 130px;
}